.header{
  background-image: url(../img/backgrounds/landing.jpg);

}
.header h2{
  color: white;
}
.top{
  text-align: center;
}
.top p{
  font-weight: 150%;
}
.a{
  list-style: none;
  text-align: center;
  color: white;
  padding: 0;

}
.a li{
padding-bottom: 24.7%;
}
.meals h3{
  color: white;

}
#happy{
  background-color: #828891;
  width: 100%;
}
#party{
  background-color: #F15A29;
}
#happy:hover{
background-color: #F15A29;
}
#party:hover{
background-color: #828891;
}
.breakfast{
  text-align: center;
  background-image: url(../img/foodtop/breakfast.jpg);
  padding-bottom: 10%;
}
.breakfast:hover{
  background-color: grey;
  opacity: 0.6;
}
.lunch{
  text-align: center;
  background-image: url(../img/foodtop/lunch.jpg);
  padding-bottom: 10%;
}
.lunch:hover{
  background-color: grey;
  opacity: 0.6;
}
.dinner{
  text-align: center;
  background-image: url(../img/foodtop/dinner.jpg);
  padding-bottom: 10%;
}
.dinner:hover{
  background-color: grey;
  opacity: 0.6;  
}
.dinner:hover{
  background-color: #e05e0d;
}
.fastfood-image{
padding-left: 5%;
padding-top: 5%;
}
.fastfood-image img{
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
.fastfood-text{
  padding: 5% 10% 0% 5%;
  line-height: 200%;
}
.drinks-text{
  text-align: right;
  padding: 5% 10% 0% 5%;
  line-height: 200%;
}
.drinks-image{
  float: left;
  padding: 5% 0% 5% 0%;
  margin: 0px;
}
.drinks-image img{
  margin-left: -2%;

}
.tabs{

  background-image: url(../img/backgrounds/foodsBg.jpg);
  margin-left: -2%;
  margin-right: -1%;
  padding-left: 15%;
  padding-right: 19.9%;
  padding-top: 5%;
  padding-bottom: 5%;
}
.tabs li{
  padding: 0px 7% 0px 8.6%;
  background-color: #cdd1d6;

}
.footer{
  background-color: #F15A29;
  text-align: center;
  color: white;
  padding-top: 5%;
  padding-bottom: 5%;
  line-height: 150%;
}
.subscribe{
  text-align: center;
  background-image: url(../img/backgrounds/subscribe.jpg);
  color: white;
  padding-top: 8%;
  padding-bottom: 8%;
  line-height: 200%;
  margin-left: -2%;
  margin-right: -1%;
}
#sub{
  background-color:#F15A29;
  color: white;
  line-height: 200%;
}
.fd{
  background-color: white;
  border: solid #F15A29;
  color: #F15A29;
}
.fd:hover{
  background-color: #e05e0d;
  border: 0px;
}
.meals h3{
  padding-top: 5%;
}
.carousel{
  text-align: center;
  padding: 5% 0% 5% 0%;
}
.justified{
  text-align: justify;
}

}
.whole{
  text-align: center;
}

.customer{
  border: 2px 2px 2px 2px solid #b6bdc6;
}
