.header{
  background-image: url(../img/backgrounds/landing.jpg);

}
.header h2{
  color: white;
}
.top{
  text-align: center;
}
.top p{
  font-weight: 80px;
}
.a{
  list-style: none;
  text-align: center;
  color: white;
  padding: 0;

}
.a li{
padding-bottom: 84px;
}
.meals h3{
  color: white;

}
#happy{
  background-color: #828891;
  width: 100%;
}
#party{
  background-color: #F15A29;
}
#happy:hover{
background-color: #F15A29;
}
#party:hover{
background-color: #828891;
}
.breakfast{
  text-align: center;
  background-image: url(../img/foodtop/breakfast.jpg);
  padding-bottom: 100px;
}
.lunch{
  text-align: center;
  background-image: url(../img/foodtop/lunch.jpg);
  padding-bottom: 100px;
}
.dinner{
  text-align: center;
  background-image: url(../img/foodtop/dinner.jpg);
  padding-bottom: 100px;
}
.dinner:hover{
  background-color: #e05e0d;
}
.fastfood-image{
padding-left: 50px;
padding-top: 50px;
}
.fastfood-image img{
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
.fastfood-text{
  padding: 50px 100px 0px 50px;
  line-height: 30px;
}
.drinks-text{
  text-align: right;
  padding: 50px 100px 50px 50px;
  line-height: 30px;
}
.drinks-image{
  float: left;
  padding: 70px 0px 50px 0px;
  margin: 0px;
}
.drinks-image img{
  margin-left: -4px;

}
.tabs{

  background-image: url(../img/backgrounds/foodsBg.jpg);
  margin-left: -20px;
  margin-right: -15px;
  padding-left: 190px;
  padding-right: 190px;
  padding-top: 80px;
  padding-bottom: 80px;
}
.footer{
  background-color: #F15A29;
  text-align: center;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  line-height: 40px;
}
.subscribe{
  text-align: center;
  background-image: url(../img/backgrounds/subscribe.jpg);
  color: white;
  padding-top: 100px;
  padding-bottom: 100px;
  line-height: 30px;
  margin-left: -20px;
  margin-right: -15px;
}
#sub{
  background-color:#F15A29;
  color: white;
  line-height: 30px;
}
.fd{
  background-color: white;
  border: solid #F15A29;
  color: #F15A29;
}
.fd:hover{
  background-color: #e05e0d;
  border: 0px;
}
.meals h3{
  padding-top: 52px;
}
.carousel{
  text-align: center;
  padding: 50px 0px 50px 0px;
}
.justified{
  text-align: justify;
}
#home{
  background-color: white;
}
.whole{
  text-align: center;
}
#home img{
  width: 300px;
}
